In [2]:
import pandas as pd

In [3]:
data_path="datasets/real/2019-10-18/raw/coords-2019-10-18-20-40-59.txt"

In [4]:
df = pd.DataFrame()

with open(data_path, 'r') as f:
    for line in f:
        df = pd.concat( [df, pd.DataFrame([tuple(line.strip().split(' '))])], ignore_index=True )

In [5]:
columns =["command","1","2","3","4","5","6","7","8"]

In [6]:
df.columns=columns

In [7]:
df.head()

  command       1      2      3      4      5    6    7    8
0       f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
1             NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN
2       f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
3             NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN
4       f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN

In [8]:
df.columns

Index(['command', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')

In [12]:
f_df = df[df.command=="f"]

In [13]:
f_df

     command       1      2      3      4      5    6    7    8
0          f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
2          f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
4          f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
6          f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
8          f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
10         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
12         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
14         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
16         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
18         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
20         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
22         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
24         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
26         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
28         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
30         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
32         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
34         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
36         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
38         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
40         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
42         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
44         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
46         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
48         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
50         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
52         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
54         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
56         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
58         f  79.685  -4857  -5925  -3116  -9975  NaN  NaN  NaN
...      ...     ...    ...    ...    ...    ...  ...  ...  ...
1424       f  36.376   7324    111  -6239  -7012  NaN  NaN  NaN
1430       f  36.538   7201    291  -6097  -7137  NaN  NaN  NaN
1437       f   36.78   7079    471  -5955  -7262  NaN  NaN  NaN
1443       f  36.942   6956    651  -5813  -7387  NaN  NaN  NaN
1450       f  37.186   7148    795  -5867  -7224  NaN  NaN  NaN
1456       f  37.348   7444    927  -5986  -6966  NaN  NaN  NaN
1462       f  37.591   7740   1059  -6104  -6707  NaN  NaN  NaN
1468       f  37.753   8036   1191  -6222  -6448  NaN  NaN  NaN
1475       f  37.996   8332   1323  -6341  -6189  NaN  NaN  NaN
1481       f  38.158   8628   1455  -6460  -5931  NaN  NaN  NaN
1488       f    38.4   8923   1587  -6578  -5672  NaN  NaN  NaN
1494       f  38.562   9219   1719  -6697  -5413  NaN  NaN  NaN
1501       f  38.805   9515   1851  -6815  -5154  NaN  NaN  NaN
1507       f  38.967   9811   1983  -6934  -4896  NaN  NaN  NaN
1514       f   39.21  10106   2115  -7052  -4637  NaN  NaN  NaN
1520       f  39.373  10403   2247  -7171  -4379  NaN  NaN  NaN
1527       f  39.615  10698   2379  -7289  -4120  NaN  NaN  NaN
1533       f  39.777  10995   2511  -7407  -3861  NaN  NaN  NaN
1539       f   40.02  11291   2643  -7526  -3603  NaN  NaN  NaN
1546       f  40.182  11350   2669  -7549  -3551  NaN  NaN  NaN
1552       f  40.425  11350   2669  -7549  -3551  NaN  NaN  NaN
1559       f  40.588  11350   2669  -7549  -3551  NaN  NaN  NaN
1565       f  40.749  11350   2669  -7549  -3551  NaN  NaN  NaN
1572       f  40.992  11350   2669  -7549  -3551  NaN  NaN  NaN
1578       f  41.154  11350   2669  -7549  -3551  NaN  NaN  NaN
1585       f  41.397  11350   2669  -7549  -3551  NaN  NaN  NaN
1591       f  41.559  11350   2669  -7549  -3551  NaN  NaN  NaN
1598       f  41.806  11350   2669  -7549  -3551  NaN  NaN  NaN
1604       f   41.97  11350   2669  -7549  -3551  NaN  NaN  NaN
1611       f  42.215  11350   2669  -7549  -3551  NaN  NaN  NaN

[319 rows x 9 columns]

In [14]:
m_df= df[df.command=="m"]

In [16]:
m_df.head()

,command,1,2,3,4,5,6,7,8
214,m,-1,-1048.6762597547424,-1137.0371245723154,1035.8479897419506,1609.6041510677978,NaN,NaN,NaN
215,m,-1,-1048.6762597547424,-1137.0371245723154,1035.8479897419506,1609.6041510677978,NaN,NaN,NaN
218,m,-1,-1048.6762597547424,-1137.0371245723154,1035.8479897419506,1609.6041510677978,NaN,NaN,NaN
219,m,-1,-1048.6762597547424,-1137.0371245723154,1035.8479897419506,1609.6041510677978,NaN,NaN,NaN
222,m,-1,-1048.6762597547424,-1137.0371245723154,1035.8479897419506,1609.6041510677978,NaN,NaN,NaN

In [32]:
columns=list(m_df.columns)

In [33]:
columns[1]="TS"

In [34]:
columns

['command', 'TS', '2', '3', '4', '5', '6', '7', '8']

In [35]:
m_df.columns=columns

In [1]:
m_df[m_df.TS==-1]

NameError: name 'm_df' is not defined

In [17]:
p_df=df[df.command=="p"]

In [19]:
p_df.head()

,command,1,2,3,4,5,6,7,8
223,p,0.081,0.6142554636828396,-0.048132980325083966,-0.23761772242417836,0.7509404104188294,-80.538089,151.885025,-901.142281
224,p,0.153,0.600128016692024,-0.1535951552526949,-0.2354966361214309,0.7488631383637467,-76.42949,143.322715,-851.503675
226,p,0.184,0.6006678209588578,-0.14963221859609485,-0.23410726905148482,0.7496680932252618,-76.751105,144.132916,-856.223373
227,p,0.214,0.6010342751758302,-0.1486051661164681,-0.23563637169464935,0.7490991256168973,-76.686928,144.151836,-856.208015
228,p,0.243,0.6004295401557352,-0.1465971394028194,-0.23938881969412712,0.7487901909079738,-76.753491,144.142473,-856.56746

In [20]:
p_df.shape

(551, 9)

In [21]:
m_df.shape

(427, 9)